.banner
{
  background: url(../../images/background.png);
  background-size: cover;
}

.banner h1
{
  color: white;
  margin-bottom: 30px;

}

.banner p
{
  color: lightgrey;
  margin-bottom: 50px;

}

.banner a
{
  color: white;
  padding: 16px 32px;
  background: #00E27F;
  border-radius: 40px;
}

.container
{
  width: 1100px;
  margin: 0 auto;
  padding: 100px;
}